
body {

	color: #8B0000;
	background-color: #a9a9a9;
	font-family: Arial;
	font-size: 25px;
}





/*
put this in my html file. html and css must be nested in the same folder
<link rel="stylesheet" type="style/css" href="style.css"> 
*/ 

